div#projects div.col-sm-6 {
	text-align: center;
	padding: 0;
}

div#projects div {
	border-radius: 32px;
}

body {
	font-family: futura-pt, sans-serif;
	margin: 24 auto;
	background-color: #fafafa;
}

a.navbar-brand {
	font-size: 22px;
	color: #000;
	font-weight: 600;
}

a.nav-link {
	font-size: 22px;
	font-weight: 600;
	color: #777;
}

h1 {
	font-size: 72px;
	font-weight: 600;
	margin: 10% 0;
}

h1 a {
	color: blue;
}


h1 span.wrap {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: 0.08em solid blue; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	animation: 
	  typing 3.5s steps(40, end),
	  blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
	from { width: 0 }
	to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
	from, to { border-color: blue }
	50% { border-color: white; }
  }

div.recommendations {
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
	border-radius: 12px;
	padding: 32px;
	transition: all 500ms;
	text-align: center;
	background-color: white;
	height: auto;
  }

div.recommendations:hover {
	  transform: scale(1.05);
	  transition: all 600ms;
	  box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.1);
  }

div.recommendations img {
	width: 64px;
	margin-bottom: 16px;
}

div.recommendations h3 {
	margin: 0px;
}

div.recommendations h6 {
	color: #aaa;
	margin-bottom: 16px;
}

div.recommendations p {
	  font-size: 12pt;
	  color: #777;
	  font-family: Arial, Helvetica, sans-serif;
	  font-weight: 400;
	  line-height: 150%;
  }

div.section {
	  background-color: #fafafa;
	  }

a.typewrite:hover {
	text-decoration: none;
	color: blue;
}

